{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    
<link rel="Stylesheet" type="text/css" href="/static/css/base.css">
</head>
<body>

    <nav>
        <ul>
          <li class="active"><a href="#">멋쟁이사자처럼 X 한국외대(서울)</a></li>
          <li><a href="{%url 'login'%}">Login</a></li>
          <li><a href="#">지원서 작성</a></li>
          <li><a href="#">문의사항 : kis03160@likelion.org</a></li>
        </ul>
      </nav>



    <video id='vid' controls autoplay muted loop> 
        <source src="{% static 'pro.mp4' %}" type="video/mp4"> 
     </video>



</body>

</html>