{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIKELION X HUFS</title>

    <link rel="shortcut icon" type="image/x-icon" href="https://scontent-ssn1-1.xx.fbcdn.net/v/t1.0-9/53319997_2288407134771022_3834362680915787776_n.png?_nc_cat=103&_nc_sid=85a577&_nc_ohc=pZI-6OuidJoAX906gdj&_nc_ht=scontent-ssn1-1.xx&oh=169c1ca43ff1a44f13031afaa5c28e89&oe=5E954E5A">
<link rel="Stylesheet" type="text/css" href="/static/css/base.css">
</head>
<body style="height: 89% !important;">

    
  <nav style="height: initial !important;">
    <ul>
      <li class="active"><a href="{% url 'home' %}">LIKELION X HUFS(Seoul)</a></li>
      <li><a href="{% url 'recruit' %}">모집요강</a></li>
      {% if user.is_authenticated %}
      <li><a href="{%url 'logout'%}">Logout</a></li>

      <li><a href="{% url 'create' %}">지원서 확인</a></li>
      <li><a href="{% url 'result' %}">합격 조회</a></li>
      <li><a href="{% url 'profile' %}">Profile</a></li>


      {% else %}
      <li><a href="{%url 'login'%}">Login</a></li>
      <li><a href="{%url 'signup'%}">Signup</a></li>

      {%endif%}
      <li >오류 및 문의사항 : kis03160@likelion.org</li>
      {% if user.is_staff %}
      <li style="float: right; padding-right: 5%;"><a href="{% url 'view' %}">운영진</a></li>
      {%endif%}
    </ul>
  </nav>


    <div id="main">
      <video id='vid' controls autoplay muted loop> 
        <source src="{% static 'pro.mp4' %}" type="video/mp4"> 
     </video>

      <!-- <iframe width="900" height="506" src="https://www.youtube.com/embed/CzUg3Bjeo2o" frameborder="0" allow="accelerometer; autoplay; muted; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

      <!-- <iframe  style="margin-left: 21%; margin-top: 3%; border-radius: 2px;" width="900" height="506" src="https://www.youtube.com/embed/EQtXOaAKn1Y?rel=0%amp;autoplay=1&amp;loop=1;playlist=EQtXOaAKn1Y;&amp;muted=1&amp;controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
      <div id="hh"><h2>최종 합격자 조회 : 4월 5일 12:00 / 면접 이후 업데이트 예정</h2></div>

    </div>
    



</body>

<style>
  #hh {
    padding-left: 5%;
  }

  #main{
    margin-top: 5%;
    width: 90%;
    height: 80%;
    background-image: url("{% static 'main_img.png'%}");
    background-repeat : no-repeat;
        background-size : cover;
  }
  body{
    overflow-y: scroll !important;
    height:80% !important;

  }
</style>

</html>