<form class="form-signin" method="POST" action="{%url 'signup'%}">
    {% csrf_token %}

    <input type="text" name="username" class="form-control" placeholder="학번" required autofocus><BR>
        <input type="text" name="major" class="form-control" placeholder="전공" required autofocus><BR>
            <input type="radio" name="gender" value="M">남
            <input type="radio" name="gender" value="F">여
            
            
            <input type="text" name="name" class="form-control" placeholder="이름"" required autofocus><BR>

                <input type="text" name="phone" class="form-control" placeholder="핸드폰 번호" required autofocus><BR>

                    <input type="text" name="email" class="form-control" placeholder="이메일" required autofocus><BR>


        <input type="password" name="password" class="form-control" placeholder="비밀번호" required><br>
        <input type="password" name="password2" class="form-control" placeholder="비밀번호 확인" required><br>

    <button id="btn-Yes" class="btn btn-lg btn-primary btn-block" type="submit">회원가입</button>        
  </form>