@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }/* 초기화 */
* {
  margin: 0;
  padding: 0;
}
 
/* 링크 데코레이션 none */
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; } 

#hh {
  color: white;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  font-family: 'GmarketSansMedium';

}
html,body{
    background-color: black !important;
    height: 100vh;
    
    
    
    /* margin-left: 0.5%;
    margin-right: 0.5%; */
}

main{
  margin-bottom: 70px !important;

}


::-webkit-scrollbar {
    width: 5px;  /* 세로축 스크롤바 길이 */
    height: 20px;  /* 가로축 스크롤바 길이 */
  }
  ::-webkit-scrollbar-track-piece {
    background-color: black;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    /* background-color: #34558b; */
  }



  video {
    width: 80%;
    height: 90%;
    margin-left: 14%;
    margin-top: 4%;

    /* border-width: 2px; */
    /* border-color: coral;
    border: 1px solid coral; */


}

nav {
  top:0;
padding: 30px;
padding-top: 25px !important;
  font-size:medium;
overflow: unset;
/* width: 884.800px !important; */
position: fixed;
background-color: black;
width: 100% !important;
z-index: 11;
height: 70px;
}

ul {
overflow: auto;
list-style-type: none;
}

li {
    
font-family: 'GmarketSansMedium';
    color: white;
font: 25px/1 !important;
height: 25px;
float: left;
margin-right: 0px;
border-right: 1px solid rgb(235, 231, 231);
padding: 0 20px;
}

li:last-child {
border-right: none;
}

li a{
text-decoration: none;
color: white;
font: 25px/1 !important;
font-family: 'GmarketSansMedium';

-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
}

li a:hover {
color:orange;
}

li.active a {
font-weight: bold;
color: rgb(255, 153, 0);
}